{# {% extends 'base.html.twig' %} #}
{% extends 'comun/comun.html.twig' %}
{# {% block header %}{{include('comun/header.php')}}{% endblock %} #}
{% block claseHome1 %}activeLink{% endblock %}
{% block claseHome %}class="activeLink"{% endblock %}
{# {% block body %}{{include('comun/comunhtml.twig')}}{% endblock %} #}
{% block body2 %}
    <div id="central">
            <div id="centralUsuarios">
                <h3 class="subheader">Usuarios</h3>
                {% for usuario in usuarios %}
                    {% if loop.index0 <= 3 %}
                        <div class="centralUsuario">
                            <img src="{{ asset('assets/images/usuario.svg') }}" alt="iconoUsuario1" class="imagenNav">
                            <h4>{{usuario.usuario}}</h4>
                        </div>
                    {% endif %}
                {% endfor %}
                <button class="btn btn-secondary" id="administrar">Administrar</button>
            </div>
            <div id="centralProductos">
                <div id="centralHeader">
                    <h3 class="subheader">Productos</h3>
                    <!-- <p>O</p> -->
                    <span class="material-icons-outlined" id="btnProducts">
                        settings
                        </span>
                </div>
                {% for producto in productos %}
                    {% if loop.index0 <= 3 %}
                        <div class="centralProducto">
                            {# {% switch producto.deporte %}
                                {% case 'voleibol' %}
                                    <p>value is "value1"</p>
                                {% case 'futbol' %}
                                    <p>value is "value2"</p>
                                {% case 'baloncesto' %}
                                {% case 'running' %}
                                    <p>value is "value3" or "value4"</p>
                                {% default %}
                                    <p>value is something else</p>
                            {% endswitch %} #}

                            {% if producto.deporte|lower == "voleibol" %}
                                <button class="btn btn-warning">{{producto.deporte}}</button>
                            {% elseif producto.deporte|lower == "futbol" %}
                                <button class="btn btn-success">{{producto.deporte}}</button>
                            {% elseif producto.deporte|lower == "baloncesto" %}
                                <button class="btn btn-danger">{{producto.deporte}}</button>
                            {% else %}
                                <button class="btn btn-primary">{{producto.deporte}}</button>
                            {% endif %}                            
                            <h4 class="nombreProducto">{{producto.nombre}}</h4>
                            <p>{{producto.precio}}€</p>
                            <button class="btn btn-secondary">STOCK</button>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="centralProducto">
                        <h4 class="nombreProducto">No hay productos</h4>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
{% block javascript %}
    const administrar = document.querySelector("#administrar");
    administrar.addEventListener("click",()=>{
        location.href = "usuarios";
    });

    const products = document.querySelector("#btnProducts");
    products.addEventListener("click",()=>{
        location.href = "productos";
    });
{% endblock %}