{# {% extends 'base.html.twig' %} #}
{% extends 'comun/comun.html.twig' %}
{# {% block header %}{{include('comun/header.php')}}{% endblock %} #}
{% block claseUser1 %}activeLink{% endblock %}
{% block claseUser %}class="activeLink"{% endblock %}
{% block body2 %}
    <div id="central" class="centralTablas">
            <div id="add">
                <button class="btn btn-success" id="administrarUsuario">AÑADIR USUARIO</button>
            </div>
            <div id="tablaData">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>USUARIO</th>
                        <th>PASSWORD</th>
                        <th>TIPO</th>
                        <th>NOMBRE</th>
                        <th>APELLIDOS</th>
                        <th>CORREO</th>
                        <th>EDITAR</th>
                    </tr>
                    {% for valor in indice %}
                    <tr>
                        <td>{{valor.id}}</td>
                        <td>{{valor.usuario}}</td>
                        <td>·········</td>
                        <td>{{valor.tipo}}</td>
                        <td>{{valor.nombre}}</td>
                        <td>{{valor.apellidos}}</td>
                        <td>{{valor.correo}}</td>
                        <td>
                            <span class="material-icons-outlined">
                            settings
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
{% endblock %}
{% block javascript %}
    const usuario = document.querySelector("#administrarUsuario");
    usuario.addEventListener("click",()=>{
        {# location.href = "usuarios"; #}
        alert("Añadir usuario");
    });
{% endblock %}