{% extends 'comun/comun.html.twig' %}

{% block clasePregunta1 %}activeLink{% endblock %}
{% block clasePregunta %}class="activeLink"{% endblock %}
{% block body2 %}
    <div id="central" class="centralTablas">
            <div id="add2">
                <h3>PREGUNTAS</h3>
                <a href="{{ path('preguntas_new') }}">
                    <button class="btn btn-success" id="administrarPreguntas">AÑADIR PREGUNTA</button>
                </a>
            </div>
            <div id="tablaData">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>PREGUNTA</th>
                        <th>RESPUESTA</th>
                        <th>EDITAR</th>
                        <th>DETALLES</th>
                    </tr>
                    {% for pregunta in preguntas %}
                        <tr>
                            <td>{{ pregunta.id }}</td>
                            <td>{{ pregunta.pregunta }}</td>
                            <td>{{ pregunta.respuesta }}</td>
                            <td>
                                <a href="{{ path('preguntas_edit', {'id': pregunta.id}) }}">
                                    <span class="material-icons-outlined">settings</span>
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('preguntas_show', {'id': pregunta.id}) }}">
                                    <span class="material-icons-outlined">description</span>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
{% endblock %}